In [1]:
import pandas as pd
from glob import glob
from matplotlib import pyplot as plt

In [6]:
files = glob("statnett/*.xlsx")

dfs = []
for fp in files:
    dfs.append(pd.read_excel(fp))

df = pd.concat(dfs)
df

                     Time(Local)  Production  Consumption
0     01.01.2001 00:00:00 +01:00       17571        17537
1     01.01.2001 01:00:00 +01:00       16929        17163
2     01.01.2001 02:00:00 +01:00       16388        17038
3     01.01.2001 03:00:00 +01:00       15682        16823
4     01.01.2001 04:00:00 +01:00       15150        16532
...                          ...         ...          ...
1075  14.02.2025 19:00:00 +01:00       25272        21109
1076  14.02.2025 20:00:00 +01:00       25531        20701
1077  14.02.2025 21:00:00 +01:00       25776        20355
1078  14.02.2025 22:00:00 +01:00       25706        19855
1079  14.02.2025 23:00:00 +01:00       25683        19621

[210230 rows x 3 columns]

In [8]:
df.to_csv("statnett-production-consumption.csv")